//Colors
//$blue: #415B76;
//$half-blue-grey: #7B9BA6;
//$dark-grey: #CDD6D5;
//$grey: #EEF4F2;
//$light-blue: #BDD3DE;
//$black-grey: #717073;
$almost-white: #F1F1F5;
$light-grey: #D0D4DB;
$medium-blue: #03628C;
$dark-blue: #013E5B;
$very-dark-blue: #012b41;


//Fonts
$big-title: 'Slabo 27px', serif;
$small-title: 'Noto Serif', serif;
$text: 'Open Sans Condensed', sans-serif;
$button: 'Nunito', sans-serif;
